{% extends 'registration/base_registration.html' %}
{% load crispy_forms_tags %}
{% block registration %}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Edit profile</h4>

        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">

        {{ form|crispy }}

        <a href="/accounts/change-password" class="btn btn-primary btn-block" role="button">Change password</a>
        <button type="submit" class="btn btn-success btn-block">Edit</button>
        </form>
    </div>
</div>
{% endblock registration %}