{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1>Информация о посещениях</h1>
        {% for visitor in visitors %}
        <div class="row">
            <div class="col-md-2">
                <b>id: </b>{{ visitor.id }}
                {% if forloop.last and not visitors.has_next %}
                <br>
                <span class="badge badge-primary">Это вы</span>
                {% endif %}
                {% if visitor.user == user %}
                <br>
                <span class="badge badge-success">Ваш логин</span> 
                {% endif %}
            </div>
            <div class="col-md-7">
                Дата и время посещения: <small class="text-muted">{{ visitor.datetime }}</small>
                <br>
                IP-адресс: <small class="text-muted">{{ visitor.address }}</small>
                <br>
                Это телефон: <small class="text-muted">{{ visitor.user_agent.is_mobile }}</small>
                <br>
                Сенсорный экран: <small class="text-muted">{{ visitor.user_agent.is_touch }}</small>
                <br>
                Это планшет: <small class="text-muted">{{ visitor.user_agent.is_tablet}}</small>
                <br>
                Это персональный компьютер: <small class="text-muted">{{ visitor.user_agent.is_pc }}</small>
                <br>
                Это бот: <small class="text-muted">{{ visitor.user_agent.is_bot }}</small>
                <br>
                Семейство браузеров: <small class="text-muted">{{ visitor.user_agent.browser_family}}</small>
                <br>
                Версия браузера: <small class="text-muted">{{ visitor.user_agent.browser_version }}</small>
                <br>
                Семейство операционных систем: <small class="text-muted">{{ visitor.user_agent.os_family }}</small>
                <br>
                Версия операционной системы: <small class="text-muted">{{ visitor.user_agent.os_version}}</small>
                <br>
                Семество устройств: <small class="text-muted">{{ visitor.user_agent.device_family }}</small>
                <br>
                {% if not visitor.user is None %}
                Пользователь: <b>{{ visitor.user }}</b>
                <br>
                Фото: <img src="{{ visitor.user.icon.url }}" width="50" height="50" style="border-radius: 100%" />
                <br>
                {% endif %}
                {% endif %}
                <hr>
            </div>  
        </div>
        {% endfor %}
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if visitors.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo;</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ visitors.previous_page_number }}">{{ visitors.previous_page_number }}</a>
                </li>
                {% endif %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ visitors.number }}"> {{ visitors.number }}</a>
                </li>

                {% if visitors.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ visitors.next_page_number }}">{{ visitors.next_page_number }}</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ visitors.paginator.num_pages }}">&raquo;</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock content %}