<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% for visitor in visitors %}
    {{ visitor.datetime }}
    <br>
    {{ visitor.address}}
    <br>
    {{ visitor.user_agent.is_mobile }}
    <br>
    {{ visitor.user_agent.is_touch }}
    <br>
    {{ visitor.user_agent.is_tablet}}
    <br>
    {{ visitor.user_agent.is_pc }}
    <br>
    {{ visitor.user_agent.is_bot }}
    <br>
    {{ visitor.user_agent.browser_family}}
    <br>
    {{ visitor.user_agent.browser_version }}
    <br>
    {{ visitor.user_agent.os_family }}
    <br>
    {{ visitor.user_agent.os_version}}
    <br>
    {{ visitor.user_agent.device_family }}
    <hr>
    {% endfor %}
</body>
</html>