<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% for visitor in visitors %}
    {{ visitor.datetime }}
    <br>
    {{ visitor.address}}
    <br>
    {{ visitor.user_agent.is_mobile }}
    <br>
    {{ visitor.user_agent.is_touch }}
    <br>
    {{ visitor.user_agent.is_tablet}}
    <br>
    {{ visitor.user_agent.is_pc }}
    <br>
    {{ visitor.user_agent.is_bot }}
    <br>
    {{ visitor.user_agent.browser_family}}
    <br>
    {{ visitor.user_agent.browser_version }}
    <br>
    {{ visitor.user_agent.os_family }}
    <br>
    {{ visitor.user_agent.os_version}}
    <br>
    {{ visitor.user_agent.device_family }}
    <hr>
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if visitors.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ visitors.previous_page_number }}">{{ visitors.previous_page_number }}</a>
            {% endif %}
            <span class="current">
                <a href="?page={{ visitors.number }}"> {{ visitors.number }}</a>
            </span>

            {% if visitors.has_next %}
            <a href="?page={{ visitors.next_page_number }}">{{ visitors.next_page_number }}</a>
            <a href="?page={{ visitors.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</body>
</html>